<div class="header-container d-flx flx-column flx-center gap-l">
  <header class="header t-l-r">
    <p>
      <mat-slide-toggle
        [ngModel]="lightTheme$ | async"
        (ngModelChange)="changeTheme()">
      </mat-slide-toggle>
    </p>
    <ng-content>
      @if (menu.length) {
        <mat-chip-set aria-label="Fish selection">
          @for (item of menu; track item) {
            <mat-chip
              class="menu-item"
              [class.active]="isActive(item.url)"
              [routerLink]="item.url"
              >{{ item.title }}</mat-chip
            >
          }
        </mat-chip-set>
      }
    </ng-content>
  </header>
</div>
