@import 'variables';

.d-flx {
  display: flex;
}

.flx-column {
  flex-direction: column;
}

.flx-row {
  flex-direction: row;
}

.gap-s {
  gap: @spacing-s;
}

.gap-l {
  gap: @spacing-l;
}

.m-b-l {
  margin-bottom: @spacing-l;
}
