<app-content-container>
  <div class="d-flx flx-column flx-center gap-l">
    <div>Front-End Part</div>
    <img
      ngSrc="assets/logos/angular.svg"
      height="100"
      width="300"
      alt="angular" />
    <div class="t-xl-r">+</div>
    <div class="d-flx flx-center gap-l">
      <div class="t-xl-r">Angular Material</div>
    </div>
    <div class="t-xl-r">+</div>
    <img
      ngSrc="assets/logos/nginx.svg"
      height="100"
      width="300"
      alt="angular" />
    <div class="t-xl-r">+</div>
    <img
      ngSrc="assets/logos/docker.svg"
      height="100"
      width="300"
      alt="angular" />
  </div>
</app-content-container>
