<!--<iframe width="500" height="450" [src]="'https://www.youtube.com/embed/Fy1xQSiLx8U' | safeXxs"-->
<!--        allowfullscreen>-->
<!--</iframe>-->
<!--<iframe-->
<!--  width="560"-->
<!--  height="315"-->
<!--  [src]="'https://www.youtube.com/embed/Fy1xQSiLx8U?si=24qE8-Tya9ZVkvms' | safeXxs"-->
<!--  title="YouTube video player"-->
<!--  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
<!--  referrerpolicy="strict-origin-when-cross-origin"-->
<!--  allowfullscreen>-->

<!--</iframe>-->
<app-header>
  <div page-title>{{title}}</div>
</app-header>
